<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Comfy accounting">
  <link rel="shortcut icon" href="../static/commadot.ico" type="image/x-icon" />
  <title>Jinbe</title>
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet"> 
</head>

<body>

<div class="main">
  <div class="nav">
    <a href="#add">
      <div class="nav-link">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <circle cx="12" cy="12" r="10"></circle>
          <line x1="12" y1="8" x2="12" y2="16"></line>
          <line x1="8" y1="12" x2="16" y2="12"></line>
        </svg>
        <h1>Pridėti</h1>
      </div>
    </a>
    <a href="#search">
      <div class="nav-link">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" s="2">
          <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
          <polyline points="14 2 14 8 20 8"></polyline>
          <line x1="16" y1="13" x2="8" y2="13"></line>
          <line x1="16" y1="17" x2="8" y2="17"></line>
          <polyline points="10 9 9 9 8 9"></polyline>
        </svg>
        <h1>Peržiūrėti</h1>
      </div>
    </a>
  </div>

  <form class="add" action="/invoices/add/" method="post">
    {{ form.hidden_tag() }}

    <button class="wrapper-button">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="add-deal">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="12" y1="8" x2="12" y2="16"></line>
        <line x1="8" y1="12" x2="16" y2="12"></line>
      </svg> 
    </button>
    
    <span class="input">
      <h3>Data</h3>
      <input type="date" name="date">
    </span>
    <span class="input">
      <h3>Sąskaitos nr.</h3>
      <input type="text" name="invoice">
    </span>
    <span class="input">
      <h3>Įmonė</h3>
      <input type="text" name="company">
    </span>
    <span class="input">
      <h3>Suma</h3>
      <input type="number" name="suma">
    </span>
    <span class="input">
      <h3>PVM (21%)</h3>
      <input type="number" name="pvm" step=0.01>
    </span>

  </form>

  <main></main>
  
</div>

<script type="text/javascript" src="../static/js/bundle.js"></script>

</body>
</html>
